*.log
*.pyc
*.pyo

.env
.venv/
.vercel/
.vscode/
.DS_Store

__init__.py
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

mlruns/
logs/
docker/postgres-data/
plugins/

mlflow.db
mlflow_airflow.db
feature_names.json
AWSCLIV2.pkg

# Generated data and local experimentation artifacts
data/raw/
notebooks/

learning.md
docs/

tests/TESTS.md
mlruns/
