*.log
QUICK_REFERENCE.txt
STRUCTURE.md
EXAMPLES.md 
*.pyc
*.pyo
.env
.venv/
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store
mlflow.db
feature_names.json
mlruns/
__init__.py
AWSCLIV2.pkg
pytest_cache/
learning.md
.pytest_cache/
.ipynb_checkpoints/
.vercel
models/